/* -------------------- GENERAL -------------------- */
html, body, div, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    scroll-behavior: smooth;
}

body {
    --blue: rgb(255, 1, 1);
    --black: #000000;
    --grey: #848484;
}

h1, h2, h6 {
    font-family: 'Avenir Next';
    font-weight: bold;
    font-style: normal;
    color: var(--blue);
}



h3, h4 {
    font-family: 'Avenir Next';
    font-weight: 500;
    font-style: normal;
    color: var(--black);
}
h4 {
    display: inline-block;
}

h5 {
    font-family: 'Avenir Next';
    font-weight: 600;
    font-style: normal;
    color: var(--black);
}


h2 { font-size: 35px; }
h3 { font-size: 30px; }
h4 { font-size: 30px; }
h5 { font-size: 23px; }
h6 { font-size: 19px; }

p, a {
    font-family: 'Avenir Next';
    font-weight: normal;
    font-style: normal;
    color: var(--black);
}

header, .main-header, .about-me, .experience, #connect, .projects, .hobbies, .stats {
    width: 65%;
    margin: 0px auto;
}


.about-me {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about-info {
    width: 70%;
    margin-left: 50px;
}

.about-info h4 {
    font-size: 30px;
    margin-bottom: 30px;
}

.about-info b, .connect-text b {
    font-weight: 600;
}

.about-info p, .resume { font-size: 17px; }

.me-pic {
    height: 500px;
    border-radius: 6px;
}

.about-info-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}







/* -------------------- MEDIA QUERIES -------------------- */
/* Phone */
@media (max-width: 650px) {
    header, .main-header, .about-me, .experience, #connect, .projects, .hobbies, .stats {
        width: 90vw;
        margin: 0px auto;
    }

    /* Nav Bar */
    header { margin-top: 3%; }
    .pages { width: 200px; }
    .pages a { font-size: 14px; }
    h1 { font-size: 30px; }

    .side-square { display: none; }

    /* Header */
    h2 { font-size: 30px; }
    h3 { font-size: 25px; }

    .about-me, .row, .hobby, .numbers {
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 0px;
    }

    .me-pic {
        width: 200px;
        
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 50px;
    }

    
.socialNew {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ulsoc {
    margin: 0;
    padding: 0;
    display: flex;
    text-decoration: none;
    list-style: none;
}
.lisoc {
        list-style: none;
        margin: 0 5px;
        text-decoration: none;
}
.asoc{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 30px;
    color: #000;
    transition: 0.5s;
}
.asoc:hover {
    color: #fff;
}
.asoc:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    border-radius: 50px;
    z-index: -1;
    transform: scale(0);
    transition: 0.5s;
}
.asoc:hover:before {
    transform: scale(1);
}
.lisoc:nth-child(1) .asoc:hover:before{
    background:#2867B2;
}
.lisoc:nth-child(2) .asoc:hover:before{
    background: #1dcaff;
}


.lisoc:nth-child(3) .asoc:hover:before{
    background:#024b30;
}
.lisoc:nth-child(4) .asoc:hover:before{
    background: #F51B00;
}
.lisoc:nth-child(5) .asoc:hover:before{
    background:#4d004d;
}
    