/* -------------------- GENERAL -------------------- */
html, body, div, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    scroll-behavior: smooth;
}

body {
    --blue: rgb(255, 1, 1);
    --black: #000000;
    --grey: #848484;
}

h1, h2, h6 {
    font-family: 'Avenir Next';
    font-weight: bold;
    font-style: normal;
    color: var(--blue);
}



h3, h4 {
    font-family: 'Avenir Next';
    font-weight: 500;
    font-style: normal;
    color: var(--black);
}
h4 {
    display: inline-block;
}

h5 {
    font-family: 'Avenir Next';
    font-weight: 600;
    font-style: normal;
    color: var(--black);
}


h2 { font-size: 35px; }
h3 { font-size: 30px; }
h4 { font-size: 30px; }
h5 { font-size: 23px; }
h6 { font-size: 19px; }

p, a {
    font-family: 'Avenir Next';
    font-weight: normal;
    font-style: normal;
    color: var(--black);
}

header, .main-header, .about-me, .experience, #connect, .projects, .hobbies, .stats {
    width: 65%;
    margin: 0px auto;
}


.about-me {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about-info {
    width: 70%;
    margin-left: 50px;
}

.about-info h4 {
    font-size: 30px;
    margin-bottom: 30px;
}

.me-pic {
    height: 500px;
    border-radius: 6px;
}

.about-info-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}



    